/*-- scss:defaults --*/

$body-bg: #FFFFF0;
$body-color: #fff;
$link-color: #FF0076;

/*--
"#FF0076"

--*/

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

.reveal .fragment.highlight_bg_pink{
  background-color:  #FF0076;
}

.reveal .fragment.highlight_bg_green{
  background-color:  #B1DC00;
}
